@import "./variables.scss";

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin montReg {
  font-family: $montserrat;
  font-weight: 400;
}
@mixin montSemi {
  font-family: $montserrat;
  font-weight: 600;
}
@mixin montBold {
  font-family: $montserrat;
  font-weight: 700;
}
@mixin pageHeading {
  color: $lightBlue;
  margin: 40px 0;
  @include montBold;
  @include tablet {
    font-size: 42px;
  }
  @include desktop {
    font-size: 56px;
  }
}
@mixin paragraph {
  font-family: "Times New Roman", Times, serif;
  line-height: 24px;
  font-size: 18px;
  margin: 20px 0;
  @include tablet {
    font-size: 20px;
    line-height: 28px;
  }
  @include desktop {
    font-size: 24px;
    line-height: 36px;
  }
}
