@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$montserrat: "Montserrat", sans-serif;
$black: #191919;
$white: #ffffff;
$offWhite: #e8e7e3;
$plantGreen: #3ccd79;
$darkBlue: #334a56;
$lightBlue: #6996b2;

$pagePadding: 20px 5%;
