// @font-face {
//   font-family: "Avenir";
//   src: url("../assets/fonts/avenir-next-lt-pro/avenir-next-lt-pro-regular.ttf");
//   //   font-weight: lighter;
// }

// @font-face {
//   font-family: "Avenir Next LT Pro";
//   src: url("../assets/fonts/avenir-next-lt-pro/avenir-next-lt-pro-regular.ttf");
//   font-weight: normal;
// }

// @font-face {
//   font-family: "Avenir Next LT Pro";
//   src: url("../assets/fonts/avenir-next-lt-pro/avenir-next-lt-pro-bold.ttf");
//   font-weight: bold;
// };

$avenir: "Avenir";
$black: #191919;
$plantGreen: #3ccd79;
$darkBlue: #334a56;
